# seedBank template file which will replace the default isolinux.cfg on an installer ISO

prompt 0
timeout 10

default install
label install
	kernel /install.${architecture}/vmlinuz
	append initrd=/install.${architecture}/initrd.gz ${extra}
